<!DOCTYPE>
<html>
    <head>
        <title>BlogApp</title>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/app.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container-fluid">
			<a class="navbar-brand" href="#"><i class="fas fa-fire-alt"></i>StudiAri</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="/">Series <span class="sr-only">(current)</span></a>
					</li>
					<% if(currentUser && currentUser.isAdmin){ %>
						<li class="nav-item">
							<a class="nav-link" href="/blogs/new">New article</a>
						</li>
					<% } %>
					

				</ul>
				<ul class="navbar-nav ml-auto">
					  <% if(!currentUser) { %>
						<li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
						<li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
						<% }else { %>
						<li class="nav-item"><a class="nav-link" href="/profile"><%= currentUser.username %></a></li>
						<li class="nav-item"><a class="nav-link" href="/logout">Log out</a></li>
						<% } %>
				</ul>
			</div>
        </div>
   </nav>
	<!-- <div class="container" style="margin-top: 5rem"> -->
		<% if(error && error.length > 0){ %>
		<div class="container" style="margin-top: 5rem">
		<br>
		<div class="alert alert-danger" role="alert">
			<%= error %>
		</div>
		</div>
	<% } %>
	<% if(success && success.length > 0){ %>
		<div class="container" style="margin-top: 5rem">
		<br>
		<div class="alert alert-success" role="alert">
			<%= success %>
		</div>
		</div>
	<% } %>
	<!-- </div> -->
        