<% include ./partials/header %>
<div style="background:black">
<div style="color:white">
	<div class="row topMargin">
		<div class="col-12">
			<div class="container">
				<br>
				<h2 style="text-align:center; font-size: 2em">
					- About Me -
				</h2>
				<br>
				<p>
					My name is Arina Kalaidjyan and i am the creator of StudiAri. Like any of you I had to overcome many difficulties, including laziness, lack of time, lack of motivation, on the way to learning a new language. English was the easiest language to learn, since there are a lot of resources available on the Internet, which can not be said about other European languages. That is why it occurred to me to create a platform that can help you in this difficult journey and turn learning into a pleasure!

				</p>
			</div>
			
		</div>
		<div class="col-12">
			<div class="container">
				<br>
				<h2 style="text-align:center; font-size: 2em">
					- What is Studiari -
				</h2>
				<br>
				<p>
					StudiAri is a platform where you can watch movies and series in the original language with subtitles, and if you have any problems understanding the meaning, you can always click on the subtitles and see the translation, the video will pause automatically. 
				</p>
			</div>
			
		</div>
		<div class="col-12">
			<div class="container">
				<br>
				<h2 style="text-align:center; font-size: 2em">
					- How much does it cost? -
				</h2>
				<br>
				<p>
					When you register, you are given a period of 3 days as a<span class="accentWords"> FREE trial </span>. If you like my platform, you can purchase a subscription in your profile page.
				</p>
				<br>
				<div class="row">
			  <div class="col-12 col-lg-4">
				  <div class="card" >
              <div class="card-body">
                <h5 class="card-title accent">Bronze</h5>
                <h6 class="card-subtitle mb-2 text-muted">subscription</h6>
                <p class="card-text">Gain access for 1 month </p>
                <p class="accent">5.99$<span class="gray">/month</span></p>
                
              </div>
            </div>
			  </div>
              
            <div class="col-12 col-lg-4">
				  <div class="card" >
              <div class="card-body">
                <h5 class="card-title accent">Silver</h5>
                <h6 class="card-subtitle mb-2 text-muted">subscription</h6>
                <p class="card-text">Gain access for 3 months</p>
                <p class="accent">5.09$<span class="gray">/month</span></p>
                
              </div>
            </div>
			  </div>
          
            <div class="col-12 col-lg-4">
				  <div class="card" >
              <div class="card-body">
                <h5 class="card-title accent">Gold</h5>
                <h6 class="card-subtitle mb-2 text-muted">subscription</h6>
                <p class="card-text">Gain access for 6 months</p>
                <p class="accent">3.50$<span class="gray">/month</span></p>
              </div>
            </div>
			  </div>
        
		  </div>
			</div>
			
		</div>
		<div class="col-12">
			<div class="container">
				<br>
				<h2 style="text-align:center; font-size: 2em">
					- Do i have the rights to the provided content? -
				</h2>
				<br>
				<p>
					The purpose of my website is helping people learn foreign languages through various audiovisual materials.

It is allowed to post videos on a fair-use base (article 1274 of the Civil Code in Russia), which means it is possible to use them ‘for educational purposes’ unless the rightholder stated otherwise. If the rightholders decide to claim their videos back, they will send a request and I will fulfill it.

				</p>
				<br>
			</div>
			
		</div>
	</div>
</div>
		
</div>

<% include ./partials/footer %>