<% include ./partials/header %>
<div style="background:black">
<div style="color:white">
	<div class="row topMargin">
		<div class="col-12">
			<div class="container">
				<br>
				<h2 style="text-align:center; font-size: 2em">
					- Что такое Studiari -
				</h2>
				<br>
				<p>
					StudiAri - это платформа, на которой вы можете смотреть фильмы и сериалы на языке оригинала с субтитрами, и если у вас возникнут проблемы с пониманием смысла, вы всегда можете нажать на субтитры и посмотреть перевод, видео будет автоматически приостановлено.
				</p>
			</div>
			
		</div>
		<div class="col-12">
			<div class="container">
				<br>
				<h2 style="text-align:center; font-size: 2em">
					- Сколько это стоит? -
				</h2>
				<br>
				<p>
					Без необходимости в регистрации вы можете испытать платформу на пробном видео. Если вам нравится моя платформа, вы можете зарегистрироваться и приобрести подписку на странице своего профиля.
				</p>
				<br>
				<div class="row">
			  <div class="col-12 col-lg-6">
				  <div class="card" >
              <div class="card-body">
                <h5 class="card-title accent">Bronze</h5>
                <h6 class="card-subtitle mb-2 text-muted">подписка</h6>
                <p class="card-text">Доступ на 1 месяц </p>
                <p class="accent">300 ₽<span class="gray">/месяц</span></p><br>
				  <p class="card-text">Итого: 300 ₽</p>
                
              </div>
            </div>
			  </div>
              
            <div class="col-12 col-lg-6">
				  <div class="card" >
              <div class="card-body">
                <h5 class="card-title accent">Silver</h5>
                <h6 class="card-subtitle mb-2 text-muted">подписка</h6>
                <p class="card-text">Доступ на 3 месяца</p>
                <p class="accent">199 ₽<span class="gray">/месяц</span></p><br>
				  <p class="card-text">Итого: <span style="text-decoration:line-through">900 ₽</span> 597 ₽</p>
                
              </div>
            </div>
			  </div>
          
		  </div>
			</div>
			
		</div>
		<div class="col-12">
			<div class="container">
				<br>
				<h2 style="text-align:center; font-size: 2em">
					- Есть ли у меня права на предоставленный контент? -
				</h2>
				<br>
				<p>
					Цель моего сайта - помочь людям изучать иностранные языки с помощью различных аудиовизуальных материалов.

Разрешается публиковать видеоролики на основе добросовестного использования (статья 1274 Гражданского кодекса России), что означает, что их можно использовать «в образовательных целях», если правообладатель не указал иное. Если правообладатели решат вернуть свои видео обратно, они отправят запрос, и я выполню его.

				</p>
				<br>
			</div>
			
		</div>
	</div>
</div>
		
</div>

<% include ./partials/footer %>