<% include ./partials/header %>

<div class="row space">
	<div class="col-1 col-lg-2"></div>
	<div class="col-10 col-lg-8 charge">
		<h2>
			Вы успешно заплатили €20! Теперь Ваша подписка активна!
		</h2> <br>
		<a style="margin-top: 2rem" href="/blogs" class="btn btn-info btn-lg">Назад</a>
	</div>
	<div class="col-1 col-lg-2"></div>
</div>

<% include ./partials/footer %>