<% include ./partials/header %>
<div class="topMargin">
	<div class="row">
		<div class="col-lg-1"></div>
		<div class="col-12 col-lg-5">
			<br>
			<h1 class="headerText" style="text-align:left">
		Все еще есть вопросы?
	</h1><br>
			<h1>
				Контакты
			</h1><br>
			<p class="contacts">
				<i class="material-icons">email</i>
		         Email: studiariweb@gmail.com<br>
				<i class="material-icons">location_on</i>
				 Адрес: Москва, Россия
			</p>
			<br>
		</div>
		<div class="col-lg-1"></div>
	</div>
</div>
<% include ./partials/footer %>
