<% include ./partials/header %>


<div class="main index space">
	<h1 class="headerText">
		All series available on StudiAri
	</h1><br><br>
      <div class="row" style="margin: 0% 10%">
		<% blogs.forEach(function(blog){ %>
		  <div class="col-6 col-lg-4 col-xl-3">
			<div class="card">
				<div class="card-img-top">
					<img style="width: 100%" class="img-fluid ui centered image" src="<%= blog.image %>">
				</div>
				<div class="card-body">
					<a class="card-title" href="/blogs/<%= blog._id %>"><%= blog.title %></a>
				</div>
			</div>
			 
	    </div>
        <% }); %>  
      </div>
</div>

<% include ./partials/footer %>