<% include ./partials/header %>
<div class="space instruction">
		<h1 style="text-align: center">
			Как пользоваться сайтом?
		</h1>
	<div class="row">
		<div class="col-12 col-lg-6 description">
			<p> Выберете понравившийся сериал или фильм
			</p>
			<p> Включите испанские субтитры
			</p>
			<p> Если не знаете какое-то слово, наведите на него мышкой и посмотрите перевод
			</p>
			
		</div>
		<div class="col-12 col-lg-6" style="padding: 2em 2em;">
			<h1 style="font-size: 1.2em;">
				Протестируйте функционал на демо видео
			</h1><br>
			<div style="border: 3px solid blue; display:flex; justify-content:center">
				<a href="/movieTest"><i class="fas fa-play-circle"></i></a>
			</div>
			
		</div>
	</div>
	
</div>
<div class="main index">
	
	<h1 style="text-align:center">
		Сериалы
	</h1><br><br>
      <div class="row" style="margin: 0% 10%">
		<% blogs.forEach(function(blog){ %>
		  <div class="col-6 col-lg-4 col-xl-3">
			<div class="card card-link">
				<div class="card-img-top">
					<img style="width: 100%" class="img-fluid ui centered image" src="<%= blog.image %>">
				</div>
				<div class="card-body">
					<img class="card-img" src="https://studiari.s3.eu-west-2.amazonaws.com/spain-flag.png">
					<a class="card-title" href="/blogs/<%= blog._id %>"><%= blog.title %></a>
				</div>
			</div>
			 
	    </div>
        <% }); %>  
      </div>

</div>
<script>
	$(".card-link").click(function() {
  window.location = $(this).find("a").attr("href"); 
  return false;
});
</script>
<% include ./partials/footer %>