<% include ./partials/header %>

<div class="row land white">
	<div class="col-12 ">
		<h1>
		Что мы предлагаем? 
	   </h1>
		<p>
			Все еще <em>изучаете язык</em> с репетитором? Заучиваете грамматические правила, пишите письма “друзьям по электронной почте”, решаете тесты и слушаете аудирование? Но говорить все еще не можете, ведь не хватает словарного запаса. Мы правы? Если да, то продолжайте читать дальше!
<br><br>
Мы предлагаем вам необычный способ изучения испанского языка. Каждый день на нашем сервисе выходят новые статьи с настоящих испанских ресурсов, но в адаптированном формате. Уделяйте ежедневно 10 минут на прочтение статей, и ваш <em>словарный запас возрастет в РАЗЫ</em>! 

		</p>
	</div>
	
	<div class="col-12 ">
		<h1>
			На какую тематику статьи?
		</h1>
		<p>
			Статьи совершенно разносторонние. Это могут быть новости дня, сплетни о звездах, интервью, научные статьи и многое другое. Статьи подобраны так, чтобы ваш лексикон пополнился новыми словами из разных сфер жизни, и вы могли уверенно себя чувствовать в разговоре на абсолютно любую тему. 
		</p>
	</div>
</div>

<div class="row land white">
	<div class="col-12 ">
		<h1>
			Каков формат статей?
		</h1>
		<p>
			Каждая статья состоит из <em>четырех частей:</em>
		</p>
		<ul>
			<li>Текст на русско-испанском языке с преобладанием испанских слов.</li>
			<br>
			<li>Тот же текст, только слова, которые в первой части были на испанском, теперь на русском; а те, что были на русском, теперь на испанском.</li>
			<br>
			<li>Текст в оригинале</li>
			<br>
			<li>Вокабуляр. Здесь выписаны все самые сложные слова из текста с их переводом.</li>
		</ul>
    </div>
	<div class="col-12">
		<h1>
			Пример статьи
		</h1>
		<h3>
			Angelina Jolie y Brad Pitt están hartos de estar casados
		</h3><br>
		<pre>
Angelina Jolie y Brad Pitt устали de ser una pareja разлученная pero no разведенная por lo que 
подготавливают соглашение que oficialmente los declarará холостыми y no legalmente casados, mientras
устанавливаетсяla división de sus propiedades y постоянный режим de custodia de sus seis hijos.

Ни то что бы кто-то de los dos tengan una nueva pareja, но они уверяют, что necesitar pasar página
emocionalmente. Aunque los actores объявили о том, что su matrimonio se había acabado в сентябре de 2016 
todavía no han sido capaces de прийти к соглашению sobre su ingente patrimonio ни подписать un acuerdo
definitivo sobre опеке de sus hijos. Jolie y Pitt tienen una orden de custodia temporal действующий пока 
continúan negociando los acuerdos финальные.
<hr style="background-color: darkgray">
Анжелина Джоли и Брэд Питт están hartos быть парой separada но не divorciada поэтому están elaborando
un acuerdo, который официально объявит их холостыми и легально незамужними, пока se establece разделение
их собственности и el régimen permanente опеки над их шестью детьми.

No es que ninguno из двоих имеют новую пару pero sí que aseguran, что нуждаются в перелистовании эмоциональной 
страницы. Хоть актеры и anunciaron que их брак кончился en septiembre 2016, они все еще не смогли
llegar a un acuerdo ни об огромном наследстве, ni firmar окончательное соглашение о la custodia их детей.
У Джоли и Питта есть ордер на временную опеку vigente mientras они продолжают переговоры finales.
<hr style="background-color: darkgray">
Angelina Jolie y Brad Pitt están hartos de ser una pareja separada pero no divorciada por lo que 
están elaborando un acuerdo que oficialmente los declarará solteros y no legalmente casados, mientras
se establece la división de sus propiedades y el régimen permanente de custodia de sus seis hijos.

No es que ninguno de los dos tengan una nueva pareja pero sí que aseguran necesitar pasar página 
emocionalmente. Aunque los actores anunciaron que su matrimonio se había acabado en septiembre 
de 2016 todavía no han sido capaces de llegar a un acuerdo sobre su ingente patrimonio ni firmar
un acuerdo definitivo sobre la custodia de sus hijos. Jolie y Pitt tienen una orden de custodia
temporal vigente mientras continúan negociando los acuerdos finales.
<hr style="background-color: darkgray">
<em>Важные слова / Palabras importantes</em>
estar harto de - быть сытым по горло 
separado - разделенный
devorciado - разведенный
elaborar - развивать
declarar - объявлять
soltero - холостой
propiedades - недвижимость, владения
permanente - постоянный
temporal - временный
ser capaz de - быть способным на
firmar - подписать
ingente - огромный
la custodia - опека
vigente - действующий

		</pre>
	</div>
</div>

<div class="row land white">
	
	<div class="col-12 col-lg-6 order-last">
		<h1>
			Стоимость подписки на наш сервис: €20<br>
			Думаете, это много? 
		</h1>
		<p>
			А подписка здесь не на месяц! За эти деньги вы получите <em>пожизненный доступ</em><br> к сотни постоянно обновляющихся учебных статей и прокачаeте свой язык до идеала.
	    </p>
		<br><br>
		<h1>
			Как получить доступ к статьям?
		</h1>
		<p>
			Доступ к статьям можно получить всего в <em>ДВА ШАГА:</em>
		</p>
		<ul>
			<li><a href="/register">Зарегистрируйтесь</a> на нашем сайте</li>
			<li>На этой странице внизу появится кнопка “Pay with card”, нажмите на нее, оплатите взнос и приступайте к изучению испанского!</li>
		</ul>
		<br>
		<% if(currentUser && currentUser.paid===false){ %>
			<form action="/charge" method="POST">
					<article>
						<label>Стоимость: €20</label>
						<script src="//checkout.stripe.com/v2/checkout.js"
					class="stripe-button"
					data-key="<%=keyPublishable%>"
					data-locale="auto"
					data-description="Subscription charge"
					data-amount="2000"></script>
					</article>
			</form>
		<% } %>
	</div>
	<div class="col-12 col-lg-6 order-first">
		<video id="vid" width="100%" height="100%" controls muted>
            <source src="video/studiari1.mp4" type="video/mp4">
            Your browser does not support the video tag.
           </video>
	</div>
	
	
	
</div>


<% include ./partials/footer %>