<% include ./partials/header %>

<div class="main index space">
	<h1 class="headerText">
		All movies available on StudiAri
	</h1><br><br>
      <div class="row" style="margin: 0% 10%">
		<% movies.forEach(function(movie){ %>
		  <div class="col-6 col-lg-4 col-xl-3">
			<div class="card card-link">
				<div class="card-img-top">
					<img style="width: 100%" class="img-fluid ui centered image" src="<%= movie.image %>">
				</div>
				<div class="card-body">
					<img class="card-img" src="https://studiari.s3.eu-west-2.amazonaws.com/spain-flag.png">
					<a class="card-title" href="/movies/<%= movie._id %>"><%= movie.title %></a>
				</div>
			</div>
			 
	    </div>
        <% }); %>  
      </div>
</div>
<script>
	$(".card-link").click(function() {
  window.location = $(this).find("a").attr("href"); 
  return false;
});
</script>
<% include ./partials/footer %>