<% include ./partials/header %>

<div class="ui main text container segment space">
    <div class="ui huge header">New Blog</div>
    <form class="ui form" action="/blogs" method="POST">
        <div class="field">
            <label>Title</label>
            <input type="text" name="blog[title]" placeholder="title">
        </div>
        <div class="field">
            <label>Image</label>
            <input type="text" name="blog[image]" placeholder="image">
        </div>
        
        <div class="field">
            <label>Text1</label>
            <textarea name="blog[body1]" ></textarea>
        </div>
		<div class="field">
            <label>Text2</label>
            <textarea name="blog[body2]"></textarea>
        </div>
		<div class="field">
            <label>Text3</label>
            <textarea name="blog[body3]"></textarea>
        </div>
		<div class="field">
            <label>Text4</label>
            <textarea name="blog[body4]"></textarea>
        </div>
        
        <input class="ui violet basic button" type="submit">
    </form>
</div>

<% include ./partials/footer %>