<% include ./partials/header %>

<div class="ui main text container segment space">
    <div class="ui huge header">New Movie</div>
    <form class="ui form" action="/movies" method="POST">
        <div class="field">
            <label>Title</label>
            <input type="text" name="movie[title]" placeholder="text">
        </div>
		<div class="field">
            <label>Language</label>
            <input type="text" name="movie[language]" placeholder="title">
        </div>
        <div class="field">
            <label>Image</label>
            <input type="text" name="movie[image]" placeholder="image">
        </div>
        
        <div class="field">
            <label>Description</label>
            <textarea name="movie[description]" ></textarea>
        </div>
		<div class="field">
            <label>Link to video</label>
            <input type="text" name="movie[link]" placeholder="text">
        </div>
		<div class="field">
            <label>Link to subs</label>
            <input type="text" name="movie[subtitles]" placeholder="text">
        </div>
		<div class="field">
            <label>Link to Russian subs</label>
            <input type="text" name="movie[russianSub]" placeholder="text">
        </div>
		<div class="field">
            <label>Link to Spanish words</label>
            <input type="text" name="movie[spanishTxt]" placeholder="text">
        </div>
		<div class="field">
            <label>Link to Russian words</label>
            <input type="text" name="movie[russianTxt]" placeholder="text">
        </div>
        <input class="ui violet basic button" type="submit">
    </form>
</div>

<% include ./partials/footer %>