<% include ./partials/header %>

  <div class="topMargin">
     <div class="row">
      <div class="col-12 col-lg-3">
		  <br>
          <h1>Profile</h1>
          <p>Email: <%= currentUser.username %></p>
		  <br>
      </div>
      <div class="col-12 col-lg-9">
		  <br>
          <h1>Subscription</h1>
          <p>Status: Not active</p>
          <br>
		  <div class="row">
			  <div class="col-12 col-lg-4">
				  <div class="card" >
              <div class="card-body">
                <h5 class="card-title accent">Bronze</h5>
                <h6 class="card-subtitle mb-2 text-muted">subscription</h6>
                <p class="card-text">Gain access for 1 month </p>
                <p class="accent">5.99$<span class="gray">/month</span></p><br>
                <!-- <a href="#" class="card-link">Buy</a> -->
                <iframe src="https://money.yandex.ru/quickpay/button-widget?targets=Subscription&default-sum=3&button-text=11&any-card-payment-type=on&button-size=m&button-color=orange&mail=on&successURL=&quickpay=small&account=4100110730728483&" width="184" height="36" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
              </div>
            </div>
			  </div>
              
            <div class="col-12 col-lg-4">
				  <div class="card" >
              <div class="card-body">
                <h5 class="card-title accent">Silver</h5>
                <h6 class="card-subtitle mb-2 text-muted">subscription</h6>
                <p class="card-text">Gain access for 3 months</p>
                <p class="accent">5.09$<span class="gray">/month</span></p><br>
                <a href="#" class="card-link">Buy</a>
                
              </div>
            </div>
			  </div>
          
            <div class="col-12 col-lg-4">
				  <div class="card" >
              <div class="card-body">
                <h5 class="card-title accent">Gold</h5>
                <h6 class="card-subtitle mb-2 text-muted">subscription</h6>
                <p class="card-text">Gain access for 6 months</p>
                <p class="accent">3.50$<span class="gray">/month</span></p><br>
                <a href="#" class="card-link">Buy</a>
              </div>
            </div>
			  </div>
        
		  </div>
          
      </div>
     </div>
  </div>
    
<script>
	window.onload = function(){
		var select = document.querySelector(".dropdown");
		select.value = "<%= currentUser.language %>";
	};
</script>
 <% include ./partials/footer %>