@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:200i&display=swap');



.bg-dark{
	background-color: #a044ff !important;
}

i .icon{
    font-size: 2em;
}
pre{
	color:white;
	white-space: pre-line;
	font-family: 'Roboto', sans-serif;
}

em{
	font-weight: bold;
}

h1{
	color:white;
	font-family: 'Russo One', sans-serif;
}

.white{
	background: rgba(0,0,0,.95);
}

.charge{
	text-align: center;
	padding: 2rem;
}

.headerText{
	font-size: 3em;
	color: white;
	font-weight: 250;
	text-align:center;
	font-family: 'Raleway', sans-serif;
}


.forma{
	padding: 2rem;
}
body{
	background: rgba(0,0,0,.95);
	color:white;
}

@media screen and (max-width: 1000px) {
  body {
    font-size: 4rem;
  }
	.charge{
		margin-top: 5rem;
	}
	.tabular.menu, .tab.segment{
		font-size: 3rem !important;
	} 
	h3{
	font-size: 4.5rem;
    }
	.form-group{
		margin-top: 4rem;
		margin-bottom: 4rem;
	}
	input[type=text]{
		padding: 3rem 1rem;
		font-size: 4rem;
	}
	input[type=password]{
		padding: 3rem 1rem;
		font-size: 4rem;
	}
	input[type=email]{
		padding: 3rem 1rem;
		font-size: 4rem;
	}
	h1{
		font-size: 6rem;
	}
	.show img{
		width: 100%;
	}
	.btn{
		font-size: 3rem;
		padding: 3rem;
	}
	.navbar-brand{
		font-size: 4rem;
	}
	.land{
		margin-top: 16rem;
	}
	.land div{
		padding: 2rem;
	}
	.space{
		padding-top: 14rem !important;
	}
	h2{
	    font-size: 6rem;
    }
	.card-body{
		font-size: 30px;
	}
	
}
@media screen and (min-width: 1001px) {
  body {
    font-size: 17px;
  }
	.index{
		margin-right: 4rem;
		margin-left: 4rem;
	}
	h2{
		font-size: 25px;
	}
	h3{
	font-size: 2.2rem;
	}
	.charge{
		border: 3px solid darkgray;
		margin-top: 8rem;
	}
	.show img{
		width: 50%;
	}
	.container-fluid .card{
		margin-right: 6rem;
		margin-left: 6rem;
	}
	.space{
		padding-top: 6rem !important;
	}
	.land{
		padding: 2em 5em 0em 2em;
		margin-top: 6em;
    }
	.showCol:nth-child(1){
		text-align: center;
	}
	.showCol:nth-child(2){
		text-align: left;
	}
	.card-body{
		font-size:1.1em;
	}
}



.inlineButton{
    display:inline;
}

hr{
    background-color: white;
}
.card{
	background-color: transparent !important;
	margin-bottom: 2em;
	border:2px solid #a044ff;
    box-shadow: 0 0 5px #a044ff;
	transition: all .2s ease-in-out;
}
.card:hover{
	transform: scale(1.1);
}
.card-body{
	padding: 1.5rem;
}
.card-title{
	color: white !important;
}