@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:200i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

.seasonmenu{
	background-color:#e6e6e6 !important;
}

.buyBtn{
	border: 2px solid magenta;
	padding: 5px 10px;
	border-radius: 10px;
	background: black;
	color:white;
}

.buyBtn:hover{
	background-color:magenta;
}

.logo{
	font-family: 'Nunito', sans-serif;
	font-size: 1.2em;
}
.nav-item{
	font-family: 'Nunito', sans-serif;
}
.logo-img{
	height: 2em;
	width:2em;
}
.material-icons{
	font-size: 2em;
}
.accentWords{
	font-size: 1.5em;
	color:#b300b3;
}
.contact-form{
	padding: 3em;
	border-radius: 10px;
	background: #C33764;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.contactIcon{
	color:white;
	font-size: 2em;
}

.navbar{
	padding-left:10px;
}

.footer {
  background-color: #330033;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 50px;
  margin-top: 50px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}


/* footer left*/

.footer .footer-left {
  width: 33%;
  padding-right: 15px;
}

.footer .about {
  line-height: 20px;
  color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer .about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}


/* footer center*/

.footer .footer-center {
  width: 30%;
}

.footer .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .footer-center p a {
  color: #0099ff;
  text-decoration: none;
}


/* footer right*/

.footer .footer-right {
  width: 35%;
}

.footer h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

.footer h2 span {
  color: #0099ff;
}


.footer .name {
  color: #0099ff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

@media (max-width: 767px) {
  .footer {
    font-size: 14px;
  }
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer .footer-center i {
    margin-left: 0;
  }
}
.bg-dark{
	background-color: #330033 !important;
}

i .icon{
    font-size: 2em;
}
pre{
	color:white;
	white-space: pre-line;
	font-family: 'Roboto', sans-serif;
}

em{
	font-weight: bold;
}

h1{
	color:white;
	font-family: 'Comfortaa', cursive;
	/* font-family: 'Russo One', sans-serif; */
}
.accent{
	font-size:2.5rem;
}
.gray{
	color: gray;
	font-size: 1.8rem;
}

.charge{
	text-align: center;
	padding: 2rem;
}
.dropdown{
	border: 2px solid black;
	padding: 10px;
	background-color: white !important;
}
.headerText{
	font-size: 3em;
	color: white;
	font-weight: 250;
	text-align:center;
	font-family: 'Raleway', sans-serif;
}


.forma{
	padding: 2rem;
}
body{
	background-color: black;
	background-image: url("https://studiari.s3.eu-west-2.amazonaws.com/cinema.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color:white;
}
.imgBackground{
	background: background: url("https://studiari.s3.eu-west-2.amazonaws.com/cinema.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
@media screen and (max-width: 1000px) {
  body {
    font-size: 4rem;
  }
	.contacts{
		font-size: 0.7em;
	}
	.topMargin{
		margin: 12rem 2.5rem;
	}
	.charge{
		margin-top: 5rem;
	}
	.tabular.menu, .tab.segment{
		font-size: 3rem !important;
	} 
	h3{
	font-size: 4.5rem;
    }
	.form-group{
		margin-top: 4rem;
		margin-bottom: 4rem;
	}
	input[type=checkbox]{
		height: 1em;
		width: 1em;
	}
	input[type=text]{
		border-radius: 10px;
		padding: 3rem 1rem;
		font-size: 4rem;
	}
	input[type=password]{
		border-radius: 10px;
		padding: 3rem 1rem;
		font-size: 4rem;
	}
	input[type=email]{
		border-radius: 10px;
		padding: 3rem 1rem;
		font-size: 4rem;
	}
	h1{
		font-size: 6rem;
	}
	.show img{
		width: 100%;
	}
	.btn{
		font-size: 3rem;
		padding: 3rem;
	}
	.land{
		margin-top: 16rem;
	}
	.land div{
		padding: 2rem;
	}
	.space{
		padding-top: 14rem !important;
	}
	h2{
	    font-size: 6rem;
    }
	.card-body{
		font-size: 30px;
	}
	
}
@media screen and (min-width: 1001px) {
  body {
    font-size: 17px;
  }
	.topMargin{
		margin: 6rem 3rem;
	}
	.card:hover{
	transform: scale(1.1);
	}
	.index{
		margin-right: 4rem;
		margin-left: 4rem;
	}
	h2{
		font-size: 25px;
	}
	h3{
	font-size: 2.2rem;
	}
	.charge{
		border: 3px solid darkgray;
		margin-top: 8rem;
	}
	.show img{
		width: 50%;
	}
	.container-fluid .card{
		margin-right: 6rem;
		margin-left: 6rem;
	}
	.space{
		padding-top: 6rem !important;
	}
	.land{
		padding: 3em 5em 0em 2em;
		margin-top: 3em;
    }
	.showCol:nth-child(1){
		text-align: center;
	}
	.showCol:nth-child(2){
		text-align: left;
	}
	.card-body{
		font-size:1.1em;
	}
}



.inlineButton{
    display:inline;
}

hr{
    background-color: white;
}
.card{
	background-color: black !important;
	margin-bottom: 2em;
	border:2px solid #a044ff;
    box-shadow: 0 0 5px #a044ff;
	transition: all .2s ease-in-out;
}
.card-img{
	height: 1em;
	width: 1em;
}

.card-body{
	padding: 1.5rem;
}
.card-title{
	color: white !important;
}